{% put scripts %}
<script>
    $(document).ready(function() {
        $.ajaxSetup({ cache: true });

        var lang = $('html').attr('lang') == 'fi' ? 'fi_FI' : 'en_US';

        $.getScript('//connect.facebook.net/' + lang + '/sdk.js', function() {
            FB.init({
                appId   : '{{ __SELF__.appId }}',
                cookie  : true,
                xfbml   : false,
                version : '{{ __SELF__.graphAPIVersion }}'
            });

            $('#facebook-login')
                    .removeClass('button--disabled')
                    .on('click', function() {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                var redirectSignup = "{{ __SELF__.redirectSignup }}";
                                var redirectLogin  = "{{ __SELF__.redirectLogin }}";

                                $.request("{{ __SELF__~'::onLoginWithFacebook' }}", {
                                    data: {
                                        redirect: true,
                                        redirect_signup: redirectSignup,
                                        redirect_login: redirectLogin
                                    }
                                });
                            }
                            else {
                                $.request("{{ __SELF__~'::onFacebookError' }}", {
                                    data: {
                                        status: response.status
                                    }
                                })
                            }
                        }, { scope: 'email' });

                        return false;
                    });
        });
    });
</script>
{% endput %}

<a id="facebook-login" class="button button--primary button--full button--disabled">
    <i class="fa fa-facebook"></i>
    {{ 'Login with Facebook'|_ }}
</a>
